<html>
<head>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<link href="static/interface01.css" rel="stylesheet">

</head>
<body>

<div id="everything-everywhere-all-at-once">

    <div id="col1">

		<h1>ResearchLLM: Chain of Thought Analysis</h1>
		<div id="data-overview">
			<h1 style="font-weight:300;">Data Overview (Prompt)</h1>
			<div id="prompt-info"></div>
		</div>

    </div>

    <div id="col2">
        <h1>Analysis Output</h1>

        <div id="cot-output"></div>

    </div>

</div>
    
<script src="static/data.js"></script>
<script src="static/results.js"></script>

</body>
</html>